.godot/
bin/
obj/
dist/
workshop/content/
workshop/previews/
workshop/image.png
workshop/mod_id.txt
mod-uploader.log
/android/
/android/
.git/
.idea/
.vs/
publish/
Properties/
packages/
.editorconfig
*.user
Directory.Build.props
